body {
    height: 100vh;
    background-color: white;

    font-family: sans-serif;
    padding: 2em 0;
}

h1 {
    font-size: 5em;
    font-weight: 900;
    margin: .5em 0;
}

p {
    font-size: 1em;
    margin: .5em 0;
}

.example {
    min-height: 10em;

    display: flex !important;
    justify-content: center;
    align-items: center;
}

.gray {
    background-color: gray;
}

.tomato {
    background-color: tomato;
}

.white-smoke {
    background-color: whitesmoke;
}

.black {
    background-color: black;
}
