body {
    color: deeppink;
    font-family: "Comic Sans MS";

    background-color: black;
    background-image: url("img/bg.gif");
    background-repeat: repeat;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

.module {
    background-color: blue;
}
